<ion-view view-title="สมุดสุขภาพผู้ป่วย คปสอ อำเภอไทรโยค">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">ที่อยู่ที่ติดต่อได้</div>
      <div class="item item-body">
        <div>
          22 /1 หมู่ 1 ตำบลลุ่มสุ่ม อ ำเภอไทรโยค จังหวัดกาญจนบุรี<b></b>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">โรคประจำตัว</div>
      <div class="item item-body">
        <div>
           ความดัน
           <p>
           เบาหวาน
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">วันนัดสถานพยาบาล</div>
      <div class="item item-body">
           วันที่  22 ตุลาคม 2558 </b>
      </div>
      </div>
    </div>
  </ion-content>
</ion-view>
